@model BuyerViewModel

<p>@Model.Cart.CartNumber</p>
<p>@Model.Cart.CartFirstName</p>
<p>@Model.Cart.CartLastName</p>
<p>@Model.Cart.ExpireMonth</p>
<p>@Model.Cart.ExpireYear</p>
<p>@Model.Cart.cvc</p>
<hr />
<p>@Model.Buyer.UserName</p>
<p>@Model.Buyer.FirstName</p>
<p>@Model.Buyer.LastName</p>
<p>@Model.Buyer.Phone</p>
<p>@Model.Buyer.Email</p>
<p>@Model.Buyer.AddressDescription</p>